CLINIC_API=CLINIC_API
ID_API=ID_API
EMPLOYEE_MANAGEMENT_API=EMPLOYEE_MANAGEMENT_API
EMPLOYEE_MANAGEMENT_E2E=EMPLOYEE_MANAGEMENT_E2E
TEST_USER_CLINIC=TEST_USER_CLINIC
TEST_USER_EMPLOYEE=TEST_USER_EMPLOYEE
TEST_PASSWORD=TEST_PASSWORD